p {
  margin: 0;
}

.header {
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header > img {
  margin-left: 30px;
  height: 25px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hero-content > img {
  width: 54%;
  height: auto;
  align-self: center;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-top: 32px;
  margin-left: 36px;
}

h2 {
  margin-top: 16px;
  margin-left: 32px;
  font-weight: 300;
  font-size: 16px;
  width: 60%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 235px;
  gap: 1px;
  flex: 0 0 auto;
  z-index: 1;
}

.cards-list {
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
}

.star {
  height: 1em;
  width: 1em;
  margin-top: -2px;
}

.star-value {
  color: #222222;
  font-weight: 300;
}

.grayed-out {
  color: #918e9b;
}

.details {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.space-left {
  margin-left: 0.3em;
}

.description {
  font-weight: 300;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  z-index: 2;
}
